body{
    background-image: url("https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8MTA4MHAlMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 95vh;
}
h1{
    text-decoration: underline;
}
.card
{
margin: auto;
width: 600px;
background-color: rgba(4, 3, 3, 0.446);
margin-top: 150px;
border: 1px solid white;
border-radius: 18px;
box-shadow: 0 0 10px white;
}
.form-control{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 50px;
    width: 500px;
    background-color: rgba(2, 1, 1, 0.475);
}
input::placeholder{
text-align: center;
font-weight: 600;
}
.card-header{
    background-color: rgba(0, 0, 0, 0.558);
}

input[type="email"]::placeholder {
    color: rgb(250, 255, 250);
}
input[type="password"]::placeholder {
    color: rgb(250, 255, 250);
}
input[type="text"]::placeholder {
    color: rgb(250, 255, 250);
}
.form-control {
    border-top:2px solid rgb(133, 133, 136) ;
    border-right: 2px solid rgb(209, 209, 224);
    border-left: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 30px;
}
.formbutton{
    border-radius: 20px;
}