<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title  %></title>
</head>
<body>
        <!-- PARTIALS --->
         
    <%- include("partials/Header.ejs")  %>
    <h1 style="text-align: center; text-decoration: underline;">
        <%=title %>
    </h1>

    
</body>
</html>